@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.Grid.Layout {
    background-color: #fff !important;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.Container, .Pie, .Bar, .Label, .label-container {
      background-color: #ffffff00 !important;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, div {
    font-family: 'Open Sans', sans-serif;
}
