@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.Grid.Layout {
    background-color: #f9f9f9 !important;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.main-content {
    background-color: #fff;
}
.Container, .Pie, .Bar, .Label, .label-container {
      background-color: #ffffff00 !important;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, div {
    font-family: 'Open Sans', sans-serif;
}

/* BUTTONS ----------------------------------- */
/* All Buttons */
button, .button-label {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: -0.2px !important;
}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus {
    box-shadow: none;
}
.Button {
    height: 48px !important;
}
.btn {
    border-radius: 8px;
    text-decoration: none !important;
}

.LinkWrapper > a > div:focus, .LinkWrapper > a:focus {
    outline: none !important;
}

/* Blue Buttons */
.blueButton .btn {
    background-color: var(--primaryBlue);
    border: none !important;
    color: var(--primaryWhite);
}
.blueButton .btn:hover {
    background-color: #0064BC;
}
.blueButton .btn:not(:disabled):not(.disabled).active, .blueButton .btn:not(:disabled):not(.disabled):active {
    background-color: var(--primaryBlue) !important;
}
.blueButton .btn.focus, .blueButton .btn:focus {
    box-shadow: 0 0 0 2px var(--primaryWhite), 0 0 0 4px var(--primaryRed) !important;
}
.blueButton .btn:not(:disabled):not(.disabled).active:focus, .blueButton .btn:not(:disabled):not(.disabled):active:focus, .blueButton .show>.btn.dropdown-toggle:focus {
    border: none !important;
    background-color: #00315D !important;
    box-shadow: none !important;
}
.blueButton .btn.disabled, .blueButton .btn:disabled {
    background-color: rgba(0,82,155,0.25);
    color: var(--primaryWhite);
    border: none !important;
    opacity: 1 !important;
}

/* White Buttons */
.whiteButton .btn {
    background-color: #FEFEFE;
    border: none;
    color: var(--primaryBlue);
}
.whiteButton-border .btn {
    border: 2px solid var(--primaryBlue) !important;
}
.whiteButton .btn:hover {
    background-color: #E8EFF6;
}
.whiteButton .btn:not(:disabled):not(.disabled).active, .whiteButton .btn:not(:disabled):not(.disabled):active {
    background-color: #B4BEC7 !important;
    color: var(--primaryBlue) !important;
}
.whiteButton .btn.focus, .whiteButton .btn:focus {
    background-color: #FEFEFE !important;
    box-shadow: 0 0 0 2px var(--primaryWhite), 0 0 0 4px var(--primaryRed);
}

.whiteButtonOnDark .btn.focus, .whiteButtonOnDark .btn:focus {
    background-color: #FEFEFE !important;
    box-shadow: 0 0 0 2px var(--primaryBlue), 0 0 0 4px var(--primaryRed) !important;
}

.whiteButton .btn:not(:disabled):not(.disabled).active:focus, .whiteButton .btn:not(:disabled):not(.disabled):active:focus, .whiteButton .show>.btn.dropdown-toggle:focus {
    border: none !important;
}
.whiteButton .btn.disabled, .whiteButton .btn:disabled {
    background-color: rgba(254, 254, 254, 0.25) !important;
    color: var(--primaryBlue);
    border: none !important;
    opacity: 1 !important;
}
/* White Buttons - Focus outline color change dependent on the surface it exists on.
.whiteOnDark .btn:not(:disabled):not(.disabled).active:focus, .whiteOnDark .btn:not(:disabled):not(.disabled):active:focus, .whiteOnDark .show>.btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px var(--primaryBlue), 0 0 0 4px var(--primaryRed) !important;
}
.whiteOnLight .btn:not(:disabled):not(.disabled).active:focus, .whiteOnLight .btn:not(:disabled):not(.disabled):active:focus, .whiteOnLight .show>.btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 2px var(--primaryWhite), 0 0 0 4px var(--primaryRed) !important;*/
}
/* Start Big Buttons - UPDATED - Based on Container Component*/
.lgButton-test {
    border: 1px solid var(--neutralDark) !important;
    background-color: red !imoportant;
}
/* End Big Buttons*/

/* Big Buttons - Assistant*/
.bigButton button {
    border: 1px solid var(--neutralDark);
}
.bigButton button, .bigButton .button-label {
    font-weight: 800 !important;
    font-size: 32px !important;
    line-height: 1.313 !important;
}
.bigButton .btn:not(:disabled):not(.disabled).active:focus, .bigButton .btn:not(:disabled):not(.disabled):active:focus, .bigButton .show>.btn.dropdown-toggle:focus {
    box-shadow: none;
    color: var(--primaryBlue) !important;
    box-shadow: rgba(0, 82, 155, 0.24) 0px 10px 16px 0px !important;
    border: 4px solid var(--primaryBlue);
}
.bigButton .btn, .bigButtonContainer .styled.outer-container {
    background-color: var(--primaryWhite);
    border: 1px solid var(--neutralDark) !important;
    color: var(--neutralDark);
    border-radius: 12px;
}
.bigButton .btn:hover, .bigButtonContainer:hover {
    background-color: #E8EFF6 !important;
}
.bigButton .btn:not(:disabled):not(.disabled).active, .bigButton .btn:not(:disabled):not(.disabled):active {
    background-color: var(--primaryWhite) !important;
}
.bigButton .btn.focus, .bigButton .btn:focus {
    color: var(--primaryBlue) !important;
    box-shadow: 0 0 0 2px var(--primaryWhite), 0 0 0 4px var(--primaryRed) !important;
}
.bigButton .btn:not(:disabled):not(.disabled).active:focus, .bigButton .btn:not(:disabled):not(.disabled):active:focus, .bigButton .show>.btn.dropdown-toggle:focus {
    color: var(--primaryBlue) !important;
}
.bigButtonContainer:active {
    outline: none;
}
.bigButtonContainer:focus {
    box-shadow: 0 0 0 2px var(--primaryWhite), 0 0 0 4px var(--primaryRed) !important;
    outline: none !important;
}
.selectedButton {
    box-shadow: rgba(0, 82, 155, 0.24) 0px 10px 16px 0px !important;
    border-radius: 12px !important;
}
.bigButtonContainer .selectedButton .styled.outer-container {
    border: 4px solid var(--primaryBlue);
}
.selectedButton .btn.focus, .selectedButton .btn:focus, .selectedButton .btn {
    border: 4px solid var(--primaryBlue) !important;
}
.selectedButton .btn {
    color: var(--primaryBlue);
}
.bigButtonContainer {
    border-radius: 12px !important;
    border: 1px solid var(--neutralDark);
    width: 200px !important;
}
.selectedBigButtonContainer .btn.focus, .selectedBigButtonContainer .btn:focus, .selectedBigButtonContainer .btn {
    border: 4px solid var(--primaryBlue) !important;
}
.selectedBigButtonContainer .btn {
    color: var(--primaryBlue);
}
.selectedBigButtonContainer {
    box-shadow: rgba(0, 82, 155, 0.24) 0px 10px 16px 0px !important;
    border: 4px solid var(--primaryBlue) !important;
}
/* Header Row -------------------------------- */
.HeroRow .breadcrumbs {
    font-size: 16px !important;
    font-weight: 700;
    color: var(--primaryBlue);
}
.greyText {
    color: #767676;
}
.HeroRow h3 {
    color: #767675;
    font-size: 24px;
    font-weight: 800;
}
.HeroRow h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 74px;
}
.HeroRow ul {
    list-style: disc;
    margin-left: 20px;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* Callout Row -------------------------------- */
.CalloutRow {
    background-color: var(--main);
    border-radius: 12px;
    color: #fff;
}
.blueBox .outer-container {
    background-color: #0d5fa3 !important;
    border-radius: 12px;
}
.calloutRow h2 {
    font-size: 36px;
    font-weight: 800;
}
.calloutRow p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
/* Feature Row -------------------------------- */
/* .featureRow .icon {
    background-color: coral;
    border-radius: 100px;
}*/
.featureRow h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.featureRow p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #767677;
}
.centerImage .outer-container {
    background-color: #F2F2F2 !important;
    border-radius: 12px;
}

.legalText {
    color: #767676;
    letter-spacing: -0.4;
    line-height: 24px;
    font-size: 16px;
}

/* Grey row -------------------------------- */
.greyRow {
    background-color: #f2f2f2 !important;
}
.testimonial {
    border-radius: 16px;
}
.testimonial p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.testimonial .bioName h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}
.testimonial .bio p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #767676;
}
.bioPic {
    border-radius: 15px;
    height: 100px !important;
    width: 100px;
}

/* Assistant Routes -------------------------------- */
.assistantContainer {
    background-color: var(--lightSurface) !important;
}

.assistant {
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #767676 !important;
}

.bigTitle {
    font-size: 48px;
    line-height: 1.208;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

.assistantTitle {
    color: #000000;
    font-size: 32px;
    line-height: 1.313;
    font-weight: 800;
    text-align: center;
}

.assistantSub {
    color: #767676;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-weight: 700;
}

.assistantBody {
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 1.5;
    color: #767676;
    text-align: center;
    font-weight: 400;
}

.productSelect .button-label {
    font-size: 16px !important;
    color: #767676;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.4px;
    text-align: right;
}

.productSelect i {
    margin: 0px 0.2em !important;
}

.foundationHead {
    color: #000000;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.313;
}

.foundationSubhead {
    color: #767676;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.4px;
}

.foundationListLabel {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    color: #000000;
}

.foundationList {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #000000;
    font-weight: 400;
    text-align: left;
}

.foundationList i {
    color: #767676;
    text-align: left;
    font-size: 1.5em;
    width: 1em;
}

.foundationList ul {
    list-style-type: none;
}

.additionHead {
    color: #000000;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.417;
}

.additionListLabel {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.2px;
    line-height: 1.333;
    color: #000000;
}

.additionList {
    font-size: 12px;
    letter-spacing: -0.6px;
    font-weight: 400;
    color: #000000;
    line-height: 1.667;
}

.seeDetails {
    border-top: 1px solid #D2D2D2 !important;
}

.seeDetails .button-label {
    font-size: 16px !important;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 1.5;
    color: #00529B;
}

.seeDetails .btn-link.focus, .seeDetails .btn-link:focus, .seeDetails .btn-link:hover {
    text-decoration: none;
}

.seeDetails .btn-link {
    color: #00529B; 
}

.finePrint {
    color: #767676;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.667;
    letter-spacing: -0.2px;
    text-align: center !important;
}

/* Account Activity -------------------------------- */
.question_box .toggle-container .outer-container {
    justify-content: center !important;
}

    
/* Footer Row -------------------------------- */
.footerRow {
    background-color: var(--main) !important;
}

.accountInfo {
    font-weight: bold;
}

.footerLinks {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -0.2px;
}

.footerLinks a, .footerLinks a:hover {
    color: #ffffff;
}

.appStoreBadge img {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

/* @ MEDIA ---------------------------------------------------------------------- */

@media only screen and (max-width: 1430px) {
 .Grid.Layout {
    max-width: 1100px;
}
/* Buttons ----------------------------------- */
.blueBtn .button-label {
    font-size: 14px !important;
}
.whiteBtn .button-label {
    font-size: 14px !important;
}

/* Header Row -------------------------------- */
.HeroRow .breadcrumbs {
    font-size: 14px;
    line-height: 20px;
}
.HeroRow h3 {
    font-size: 24px;
}
.HeroRow h1 {
    font-size: 40px;
    line-height: 45px;
}
.HeroRow ul {
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
}
.HeroRow .image {
    justify-content: flex-start !important;
}

/* Callout Row -------------------------------- */
    
.calloutRow h2 {
    font-size: 28px;
}
.calloutRow p {
    font-size: 14px;
    line-height: 20px;
}
/* Feature Row -------------------------------- */

.featureRow h2 {
    font-size: 16px;
}
.featureRow p {
    font-size: 14px;
    line-height: 20px;
}

/* Grey row -------------------------------- */
.testimonial p {
    font-size: 16px;
    line-height: 24px;
}
.testimonial .bioName h3 {
    font-size: 20px;
    line-height: 20px;
}
.testimonial .bio p {
    font-size: 14px;
    line-height: 20px;
}

/* Footer Row -------------------------------- */
}
