@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.Grid.Layout {
    background-color: #f9f9f9 !important;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px #e8e8e8;
}
.main-content {
    background-color: #fff;
}
.Container, .Pie, .Bar, .Label, .label-container {
      background-color: #ffffff00 !important;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, div {
    font-family: 'Open Sans', sans-serif;
}

/* Buttons ----------------------------------- */
.blueBtn>button {
    background-color: var(--main);
    border-radius: 6px;
}
.blueBtn>button:hover {
    background-color: var(--mainHover);
}
.blueBtn .button-label {
    color: #fff;
    font-size: 16px !important;
    font-weight: 700;
}
.whiteBtn>button {
    background-color: #fff;
    border-radius: 6px;
    text-decoration: none !important;
}
.whiteBtn>button:hover {
    background-color: var(--lightSurface);
}
.whiteBtn .button-label {
    color: var(--main);
    font-size: 16px !important;
    font-weight: 700;
}
.whiteBtn>button:hover .button-label {
    color: var(--mainHover);
}

/* Header Row -------------------------------- */
.HeroRow .breadcrumbs {
    font-size: 16px !important;
    font-weight: 700;
    color: var(--main);
    text-transform: uppercase;
}
.greyText {
    color: #767676;
}
.HeroRow h3 {
    color: #767675;
    font-size: 24px;
    font-weight: 800;
}
.HeroRow h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 74px;
}
.HeroRow ul {
    list-style: disc;
    margin-left: 20px;
    color: #767676;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

/* Callout Row -------------------------------- */
.CalloutRow {
    background-color: var(--main);
    border-radius: 12px;
    color: #fff;
}
.blueBox .outer-container {
    background-color: #0d5fa3 !important;
    border-radius: 12px;
}
.calloutRow h2 {
    font-size: 36px;
    font-weight: 800;
}
.calloutRow p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
/* Feature Row -------------------------------- */
/* .featureRow .icon {
    background-color: coral;
    border-radius: 100px;
}*/
.featureRow h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.featureRow p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #767677;
}
.centerImage .outer-container {
    background-color: #F2F2F2 !important;
    border-radius: 12px;
}

.legalText {
    color: #767676;
    letter-spacing: -0.4;
    line-height: 24px;
    font-size: 16px;
}

/* Grey row -------------------------------- */
.greyRow {
    background-color: #f2f2f2 !important;
}
.testimonial {
    border-radius: 16px;
}
.testimonial p {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.testimonial .bioName h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}
.testimonial .bio p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #767676;
}
.bioPic {
    border-radius: 15px;
    height: 100px !important;
    width: 100px;
}

/* Assistant Routes -------------------------------- */
.assistantContainer {
    background-color: var(--lightSurface) !important;
}

.assistant {
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #767676 !important;
}

.bigTitle {
    font-size: 48px;
    line-height: 1.208;
    color: #000000;
    font-weight: 800;
    text-align: center;
}

.assistantTitle {
    color: #000000;
    font-size: 32px;
    line-height: 1.313;
    font-weight: 800;
    text-align: center;
}

.assistantSub {
    color: #767676;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-weight: 700;
}

.assistantBody {
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 1.5;
    color: #767676;
    text-align: center;
    font-weight: 400;
}

.productLabel {
    font-size: 16px;
    color: #767676;
    text-align: left;
    line-height: 1.5;
    letter-spacing: -0.4px;
    font-weight: 700;
}

.productSelect .button-label {
    font-size: 16px !important;
    color: #767676;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.4px;
    text-align: right;
}

.productSelect i {
    margin: 0px 0.2em !important;
}

.includesHeader {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
}

.includesList {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #000000;
    font-weight: 400;
    text-align: left;
}

.includesList li {
    background: url('https://www.newdayusa.com/Content/images/CheckMark.png') no-repeat left center;
    height: 40px;
    padding-top: 1px;
    padding-left: 3rem;
    margin-left: 0;
    margin-bottom: 1rem;
    list-style: none;
}

.includesList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

.seeDetails {
    border-top: 1px solid #D2D2D2 !important;
}
    

/* Footer Row -------------------------------- */
.footerRow {
    background-color: var(--main) !important;
}

.accountInfo {
    font-weight: bold;
}

.footerLinks {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -0.2px;
}

.footerLinks a, .footerLinks a:hover {
    color: #ffffff;
}

.appStoreBadge img {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

/* @ MEDIA ---------------------------------------------------------------------- */

@media only screen and (max-width: 1430px) {
 .Grid.Layout {
    max-width: 1100px;
}
/* Buttons ----------------------------------- */
.blueBtn .button-label {
    font-size: 14px !important;
}
.whiteBtn .button-label {
    font-size: 14px !important;
}

/* Header Row -------------------------------- */
.HeroRow .breadcrumbs {
    font-size: 14px;
    line-height: 20px;
}
.HeroRow h3 {
    font-size: 24px;
}
.HeroRow h1 {
    font-size: 40px;
    line-height: 45px;
}
.HeroRow ul {
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
}
.HeroRow .image {
    justify-content: flex-start !important;
}

/* Callout Row -------------------------------- */
    
.calloutRow h2 {
    font-size: 28px;
}
.calloutRow p {
    font-size: 14px;
    line-height: 20px;
}
/* Feature Row -------------------------------- */

.featureRow h2 {
    font-size: 16px;
}
.featureRow p {
    font-size: 14px;
    line-height: 20px;
}

/* Grey row -------------------------------- */
.testimonial p {
    font-size: 16px;
    line-height: 24px;
}
.testimonial .bioName h3 {
    font-size: 20px;
    line-height: 20px;
}
.testimonial .bio p {
    font-size: 14px;
    line-height: 20px;
}

/* Footer Row -------------------------------- */
}
