@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff2');

@charset "UTF-8";

@font-face {
    font-family: "GT Walsheim Pro Black";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.eot?#iefix) format("eot"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.woff2) format("woff2"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.woff) format("woff"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Bold";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Medium";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Regular";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Light";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.ttf) format("truetype");
}


.Container, .Pie, .Bar, .Label, .label-container {
      background-color: #ffffff00 !important;
}
.fpoText {
      font-family: 'Fjalla One', sans-serif;
    color: #fff;
}

/* "Get Started" Wizard ---------------------- */
.Wizard .label-container {
    display: block;
}

.Wizard .card-body .label-container span {
    box-sizing: border-box;
    color: rgb(16, 16, 16);
    display: block;
    font-family: "GT Walsheim Pro Bold";
    font-size: 40px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center !important;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

    /*.custom-control {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(3, 120, 213);
    border-radius: 50px;
    color: rgb(0, 158, 227);
    font-family: "GT Walsheim Pro Bold";
    font-size: 16px;
    font-weight: 400;
    height: 75px;
    margin: 4px 0;
    padding: 13px;
    text-align: center;
    width: 204.25px;

        font-stretch: 100%;
        text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;cursor: pointer;
     letter-spacing: normal;
    line-height: 21.28px;
    display: block;
    max-height: 75px;
    max-width: none;
    min-height: 55px;
    outline-color: rgb(0, 158, 227);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    overflow-x: visible;
    overflow-y: visible;*/
}

/*.radio-wrapper {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
}*/
.radio-wrapper {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
  @media (max-width: $small) {margin-top: -1.5em;}
}

.custom-control {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: $dark;
  border-radius: 0.25em;
  background: $light;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  user-select: none;
  h1 {
    font-size: 1em;
    font-family: $font-stack;
  }
  &:hover {
    background: darken($light, 10%);
    color: darken($dark, 10%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
  }
  @media (max-width: $small) {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}



.field-container > div {
    align-items: center;
}
/* "Get Started" Wizard End ---------------------- */
