@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff2');

@charset "UTF-8";

@font-face {
    font-family: "GT Walsheim Pro Black";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.eot?#iefix) format("eot"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.woff2) format("woff2"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.woff) format("woff"), 
        url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Black.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Bold";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Medium";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Regular";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "GT Walsheim Pro Light";
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.eot?#iefix);
    src: url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.eot?#iefix) format("eot"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.woff2) format("woff2"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.woff) format("woff"), url(https://www.newdayusa.com/Content/fonts/GT-Walsheim-Pro-Light.ttf) format("truetype");
}

html { font-size: 18px; !important }

.Grid.Layout {
    background-color: #fff !important;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
}

.Container, .Pie, .Bar, .Label, .label-container {
      background-color: #ffffff00 !important;
}
.fpoText {
      font-family: Fjalla One, sans-serif;
    color: #fff;
}

/* "Get Started" Wizard ---------------------- */
.Wizard .label-container {
    display: block;
}
.Wizard .card-body {
    max-width: 1000px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.Wizard .card-body .field-label label {
    box-sizing: border-box;
    color: rgb(16, 16, 16);
    display: block;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center !important;
    text-size-adjust: 100%;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.Wizard .field-container > div {
    align-items: center !important;
}
.Wizard .card-body .label-container {
    font-style: oblique;
    color: coral;
    text-align: center;
}
.getStarted .custom-control {

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto !important;
}
.getStarted .custom-control label {
    width: 23%;
    max-width: 330px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #ddd;
    border-radius: 50px;
    color: #182026;
    font-family: 'Roboto';
    padding: 13px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
/*.custom-control:hover {
    background-color: #d3ebff;
    border-color: #005696;
}
.custom-control label:hover {
    background-color: #d3ebff;
    border-color: #005696;
}*/
.Wizard input[type="radio"]:checked + label {
    background-color: #d3ebff;
    border-color: #005696;
}
.getStarted .custom-control-label {
    position: relative;
}
.getStarted .radio-wrapper {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.getStarted .custom-control-input {
    display: block;
    width: 100%;
    height: 100%;
}
.getStarted .custom-control-label:after, .custom-control-label:before {
    opacity: 0;
}
/*.w-100 .field-label {
    display: none;
}*/
.getStarted .indicator-container {
    display: none !important;
}
.getStarted .field-container > div {
    align-items: center;
}
.Wizard button {
    background-color: darkseagreen;
    padding: 10px;
    border: none;
}
.Wizard .button-label {
    font-size: 20px !important;
}
.Wizard .mx-1 {
    width: inherit;
}
.Wizard button {
    background-color: darkseagreen;
    padding: 10px;
    border: none;
    width: 200px;
    border-radius: 100px;
}
.Wizard .mx-1 {
    width: inherit !important;
}
.getStarted .w-100 {
    width: inherit !important;
    margin-left: auto;
    margin-right: auto;
}
.getStarted input.form-control.lg {
    width: 600px;
}
.getStarted. .output .output-wrapper .field-label {
    margin-left: auto;
    margin-right: auto;
}
.getStarted div.output .output-wrapper {
    background-color: #fff !important;
}
.getStarted .field-container .output .field-label label {
    color: #182026;
     font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    height: 48px;
}

/* "Get Started" Wizard End ---------------------- */
/* Home Page ------------------------------------- */
.pill-one h3 {
        color: #FF7E01;
}
.pill-two h3 {
    color: #008B9E;
}
.pill-one h3, .pill-two h3 {
    text-align: center !important;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.pill-one p, .pill-two p {
    font-size: 1.9em;
    line-height: 1.3em;
    margin-bottom: 1.1rem;
    text-align: center !important;
        font-family: Fjalla One;

}
.button-orange {
    background-color: #FF7E01 !important;
    border-color: #FF7E01;
}
.button-aqua {
    background-color: #008B9E !important;
    border-color: #008B9E;
}
.button-orange, .button-aqua {
    display: inline-block;
    border-radius: 40px;
    border-style: solid;
    text-decoration: none;
    transition: 0.2s;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}
.button-label span {
    text-align: center !important;
    vertical-align: middle !important;
    margin-top: 2px;
    font-size: 1.7em;
    font-family: Roboto;
    color: white;
}

/* Home Page End ------------------------------------- */
/* Editor Specfic Edits ------------------------------ */
.checkme .custom-checkbox>input {
    opacity: 1;
}
/* Editor Specfic Edits End -------------------------- */
/* Resources and Posts ------------------------------- */
.postCard .postTitle {
    font-family: Fjalla One, sans-serif;
    color: #fff;
    font-size: 1.5em;
    margin: 5px 10px 0 10px;
    position: relative;
    top: 70px;
    z-index: 100;
    text-shadow: 0 0 5px #000;
}
.postCard .postImage {
    background-color: #005696;
}
.postCard .postImage img:hover {
    mix-blend-mode: inherit;
        opacity: 100%;
}
.postCard .postImage img {
    mix-blend-mode: luminosity;
    opacity: 50%;
    min-width: 600px !important;
    max-width: 700px !important;
}
.postImage {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.postImageHero {
    height: 400px;
    background-size: cover;
    background-position: center;
}
h1.postTitle {
    color: #fff;
    text-shadow: 0 0 13px #000;
    text-align: center;
    position: relative;
    top: 200px;
    font-family: Fjalla One, sans-serif;
    font-size: 5em;
}
.postText {
    font-size: 1.3em;
    line-height: 1.7em;
}

.postText p {
    margin-bottom: 1.5em;
}
.newsTabs li.nav-item {
    font-size: 16px;
    font-weight: 600;
}
.newsTabs a.active.nav-link {
    font-size: 20px;
}
.newsTabs li.nav-item a {
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.newsTabs li.nav-item a {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid;
    border-radius: 0;
}
.newsTabs li.nav-item:last-child a {
    border-right: none;
}
.newsTabs li.nav-item a:hover {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid;
    border-radius: 0;
}

/* Resources and Posts End --------------------------- */
/* Template Components Migratied to Theme ------------
.ctaText {
    position: relative;
    top: -220px;
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 200;
    text-shadow: 0 0 7px #333;
}
.ctaButton {
    position: relative;
    top: -220px;
}
.ctaImage {
    border-radius: 50px;
}
.headerTitle {
    position: relative;
    top: -300px;
    font-size: 4em;
    line-height: 1.1em;
    font-weight: 800;
    text-shadow: 0 0 7px #333;
}
.headerSubTitle {
    position: relative;
    top: -300px;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: 400;
    text-shadow: 0 0 7px #333;
}
.headerButton {
    position: relative;
    top: -300px;
}*/
.heroImage {
    height: 1200px;
    background-size: cover;
    background-position: center;
}
.floating {
    position: relative;
    top: -680px;
    z-index: 1;
}
.heroBannerImage {
    height: 850px;
    background-size: cover;
    background-position: center;
}
.shadowBox {
    text-shadow: 0 0 5px #000;
}
/*Template Components End ------------------------------ */

/*TEMPLATE 1 STYLES ------------------------------ */

/*CONTENT*/
.titleContainer {
    border-bottom: 1px solid #e0e0e0 !important;
}

.title {
    font-size: 2.5rem;
}

.subPar {
    color: #005696;
    font-size: 1.11111111111rem;
    line-height: 1.66667rem;
}

.subDivider {
    height: 1px !important;
    border-bottom: 2px solid #e0e0e0 !important;
}

.thePar {
    font-size: 1rem;
    line-height: 1.44444rem;
    color: #101010;
}

.testimonialContainer {
    background-color: #0378d5 !important;
}

.expertContainer {
    background-color: #f4f4f4 !important;
}

.expertTitle {
    font-size: 3.33333rem;
    line-height: 3.5rem;
}

.expertCTA {
    font-size: 1.66667rem;
    line-height: 2.11111rem;
    font weight: bold;
}

.expertCTA button {
    border-radius: 100px;
    background-color: #005493;
    border: 1px solid #005493;
}

.expertCTA button:hover {
    background-color: #003A70;
    border-color: #003A70;
}

.fixedCTA {
    background: #ffffff !important;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
    font-weight: bold;
    color: #005696;
    font-size: 1.33333rem;
    line-height: 1.77778rem;
}

.fixedCTA button {
    border-radius: 100px;
    background-color: #1bb57c;
    border: 1px solid #1bb57c;
}

.fixedCTA button:hover {
    background-color: #189f6d;
    border-color: #189f6d;
}

.fixedCTAcall {
    border-color: #E0E0E4 !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 10px;
    font-weight: normal;
}

/*SHARE BUTTON*/
.shareThis .button-label {
    text-transform: uppercase;
    font-size: 0.77778rem;
    color: #101010;
}

.shareThis .btn-link:hover {
    text-decoration: none !important;
    opacity: 0.8;
}

.shareThis i {
    color: #e0e0e0;
}
