.ctaText {
  position: relative;
top: -220px;
font-size: 3em;
line-height: 1.1em;
font-weight: 200;
text-shadow: 0 0 7px #333;
}
.ctaButton {
position: relative;
top: -220px;
}
.ctaImage {
border-radius: 50px;
}
.headerTitle {
position: relative;
top: -300px;
font-size: 4em;
line-height: 1.1em;
font-weight: 800;
text-shadow: 0 0 7px #333;
}
.headerSubTitle {
position: relative;
top: -300px;
font-size: 2em;
line-height: 1.1em;
font-weight: 400;
text-shadow: 0 0 7px #333;
}
.headerButton {
position: relative;
top: -300px;
}
