.todoLink {
    background-color: coral;
    display: block !important;
}
.todoLink:hover {
        background-color: mistyrose;
}
.todoLinkText {
    background-color: transparent !important;
    color: white;
    font-weight: 900;
    font-size: 2em;
}
.todoLinkText:hover {
    text-decoration: none !important;
    color: coral;
}
